{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div class="container mt-4 d-flex flex-wrap gap-4 justify-content-center">

    {% for post in posts %}

    <div class="card text-white bg-dark shadow-lg p-3 rounded" style="width: 20rem;">

        {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top rounded" alt="Post Image">
        {% else %}
            <img src="{% static 'images (1).png' %}" class="card-img-top rounded" alt="">
        {% endif %}

        <li class="list-group-item bg-dark text-white fs-5">Оценка: 
            {% if post.rate == 1 %}★☆☆☆☆ 
            {% elif post.rate == 0 %}☆☆☆☆☆
            {% elif post.rate == 2 %}★★☆☆☆
            {% elif post.rate == 3 %}★★★☆☆
            {% elif post.rate == 4 %}★★★★☆
            {% else %}★★★★★
            {% endif %}
        </li>

        
        <li class="list-group-item bg-dark text-white text-end">
            {% for tag in post.tag.all %}
                <span class="badge bg-secondary mx-20">{{ tag.name }}</span>
            {% endfor %}
        </li>


        <div class="card-body">
            <h5 class="card-title fw-bold" style="margin-bottom: 50px;">{{ post.title }}</h5>
            <p class="card-text text-light" style="border-bottom: 2px solid #ffffff; padding-bottom: 10px;">Описание: {{ post.content }}</p>
        </div>



        <ul class="list-group list-group-flush">            
            <li class="list-group-item bg-dark text-white">{{ post.category }}</li>


            <li class="list-group-item bg-dark text-white">##</li>
        </ul>
    



        <div class="card-body text-center">
            <a href="/posts/{{post.id}}/" class="btn btn-primary w-100">Подробнее</a>
        </div>

    </div>

    {% endfor %}

</div>

<style> 
.card-title{
    text-align: center;
}
</style> 

{% endblock %}
