{% extends 'navbar.html' %}

{% block content %}

<div class="form-wrapper">
    <div class="form-container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-content">


                <div class="image-preview-container">
                    <label for="{{ form.image.id_for_label }}" class="image-label">
                        <span class="upload-text">Выберите изображение</span>
                    </label>
                    {{ form.image }}
                    <img id="image-preview" src="#" alt="Предпросмотр изображения" class="image-preview" />
                </div>



                <div class="form-group">
                    Название: {{ form.title }}
                </div>


                <div class="form-group">
                    Описание: {{ form.content }}
                </div>


                <div class="filter-group">
                    <label class="filter-label"><i class="fas fa-star"></i> Рейтинг:</label>
                    <div class="range-inputs">
                        <div class="input-wrapper">
                            <input type="number" name="rate" placeholder="0" class="filter-input rating-input" value="0"> 
                            <div class="input-buttons">
                                <button type="button" class="input-button increase" data-target="rate">▲</button>
                                <button type="button" class="input-button decrease" data-target="rate">▼</button>
                            </div>
                        </div>
                    </div>
                </div>

                
                {% if form.rate.errors %}
                    <div class="error-message">
                        {{ form.rate.errors }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="{{ form.category.id_for_label }}">Категория:</label>
                    {{ form.category }}
                </div>

                <div class="form-group">
                    <label for="{{ form.tag.id_for_label }}">Тег:</label>
                    {{ form.tag }}
                </div>

                <button type="submit" class="submit-btn">Применить</button>
            </div>
        </form>
    </div>
</div>



<style>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none; 
        margin: 0; 
    }
    
    
    .input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    
    .rating-input {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.202) !important; 
        border-radius: 10px;
        font-size: 14px;
        transition: border-color 0.3s ease;
        color: white;
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 0.9rem;
    }
    
    .input-buttons {
        position: absolute;
        right: 10px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    
    
    .input-button {
        background: none;
        border: none;
        color: rgba(38, 38, 38, 0.9);
        font-size: 12px;
        cursor: pointer;
        padding: -1;
        transition: color 0.3s ease;
    }
    
    .input-button:hover {
        color: rgba(79, 70, 70, 0.752);
    }
    















    .form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 75vh;
        padding-top: 70px;
        background-color: rgba(35, 34, 34, 0) !important; 
    }

    .form-container {
        width: 100%;
        max-width: 500px;
        background-color: rgba(0, 0, 0, 0) !important; /* Прозрачный чёрный фон */
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(34, 34, 34, 0.1);
        animation: fadeIn 0.5s ease;
    }

    .form-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form-group label {
        font-size: 14px;
        color: #ffffff;
        font-weight: 500;
    }

    .form-group input, .form-group textarea, .form-group select {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.202) !important;
        border-radius: 8px;
        font-size: 14px;
        transition: border-color 0.3s ease;
        color: white;
    }

    .form-group input:focus, .form-group textarea:focus, .form-group select:focus {
        border-color: #007bffc6;
        outline: none;
    }








    
    .submit-btn {
        padding: 12px 20px;
        background-color: #ba9117;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .submit-btn:hover {
        background-color: #ac8e35d4;
        transform: scale(1.05);
    }

    .image-preview-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .image-label {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 10px;
        background-color: #040404;
        border-radius: 8px;
        transition: background-color 0.3s ease;
    }

    .image-label:hover {
        background-color: #e0e0e0;
    }

    .upload-text {
        font-size: 14px;
        color: #b6b6b6;
    }

    .upload-icon {
        font-size: 18px;
    }

    .image-preview {
        max-width: 100%;
        border-radius: 12px;
        margin-top: 10px;
        display: none;
    }
    .error-message {
    color: #ff4444;
    font-size: 14px;
    margin-top: 5px;
}

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>


<script>

    document.getElementById('{{ form.image.id_for_label }}').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const preview = document.getElementById('image-preview'); 
        if (file) {
            const reader = new FileReader(); 

            reader.onload = function(e) {
                preview.src = e.target.result; 
                preview.style.display = 'block'; 
            };

            reader.readAsDataURL(file); 
        } else {
            preview.src = '#'; 
            preview.style.display = 'none'; 
        }
    });
</script>



<script>
    // Функция для увеличения/уменьшения значения
    function adjustValue(input, increment) {
        let value = parseInt(input.value) || 0;
        value += increment;
        input.value = value; 
    }

    // Обработка кликов по кнопкам
    document.querySelectorAll('.input-button').forEach(button => {
        button.addEventListener('click', () => {
            const target = button.getAttribute('data-target'); 
            const input = document.querySelector(`input[name="${target}"]`); 
            const increment = button.classList.contains('increase') ? 1 : -1;
            adjustValue(input, increment);
        });
    });
</script>

{% endblock %}