{% extends "navbar.html" %}

{% block content %}

<div class="container mt-4 d-flex flex-wrap gap-4 justify-content-center">

    {% for post in posts %}

    <div class="card text-white bg-dark shadow-lg p-3 rounded" style="width: 20rem;">

        <img src="..." class="card-img-top rounded" alt="Post Image">


        <div class="card-body">
            <h5 class="card-title fw-bold">{{ post.title }}</h5>
            <p class="card-text text-light">Описание: {{ post.content }}</p>
        </div>


        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark text-white">Оценка: {{ post.rate }}</li>
            <li class="list-group-item bg-dark text-white">##</li>
            
        </ul>


        <div class="card-body text-center">
            <a href="/posts/{{post.id}}/" class="btn btn-primary w-100">Подробнее</a>
        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}
