{% extends "navbar.html" %}
{% load static %}
{% block content %}

<div class="container mt-5 d-flex justify-content-center">
    {% if post.image %}
    <img src="{{ post.image.url }}" class="me-4 shadow-lg" alt="Post Image" 
         style="width: 220px; height: 330px; object-fit: cover; border-radius: 15px; box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);">
    {% else %}
    <img src="{% static 'images (1).png' %}" class="me-4 shadow-lg" alt="Default Image" 
         style="width: 220px; height: 330px; object-fit: cover; border-radius: 15px; box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);">
    {% endif %}
    


    <div class="col-md-9">
        <nav class="custom-navbar">
            <a class="nav-link-pro " href="#">Личный</a>
            <a class="nav-link-pro" href="#">О нас</a>
        </nav>
        <div class="navbar-divider"></div>


        
        <div class="divider"></div>

        <p></p>

        <div class="card text-white bg-dark shadow-lg" style="width: 100%; border-radius: 10px; border: none;">

            <li class="list-group-item bg-dark text-white">Теги: 
                {% for tag in post.tag.all %}
                    <span class="badge bg-secondary mx-1 pb-2">{{ tag.name }}</span>
                {% endfor %}
            </li>


            <h4 class="pb-2">Описание:</h4>
            <p class="fs-6" id="post-content">
                {% if post.content|length > 100 %}
                    <span id="short-content">{{ post.content|truncatewords:100 }}</span>
                    <span id="ellipsis">...</span>
                    
                    <span id="full-content" style="display: none;">{{ post.content }}</span>
                    <a href="javascript:void(0);" id="show-more" class="text-white">Подробнее</a>
                    
                {% else %}
                    {{ post.content }}

                {% endif %}
            </p>



            <ul class="list-group list-group-flush bg-dark">
                <li class="list-group-item bg-dark text-white">{{ post.category }}</li>
            </ul>

            <div class="text-end mt-3">
                <p class="text-white">Публикация: {{ post.created_at }}</p>
                <p class="text-white">Обновление: {{ post.updated_at }}</p>
            </div>
        </div>
    </div>
</div>


<style>
    .custom-navbar {
        background: none;
        padding-bottom: 5px;
        display: flex;
        gap: 20px;
    }


    .nav-link-pro {
        color: white;
        font-size: 17px;
        text-decoration: none;
        position: relative;
        padding-bottom: 5px;
        display: inline-block;
        cursor: pointer;
    }

    .nav-link-pro::after {
        content: "";
        position: absolute;
        left: 70%;
        bottom: 0;
        width: 0;
        height: 7px;
        background-color: #705b85;
        transition: width 0.3s ease-out, left 0.3s ease-out;
        border-radius: 50px 50px 0 0; /* Овал в верхней части */
    }

    .nav-link-pro:hover::after,
    .nav-link-pro.active::after {
        width: 100%;
        left: 0;
    }

    .navbar-divider {
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-top: -4px;
    }
</style>








<script>
    // Добавляем обработчик события только если элемент существует
    const showMoreButton = document.getElementById("show-more");
    if (showMoreButton) {
        showMoreButton.addEventListener("click", function() {
        
            // Скрыть часть текста и показать оставшийся
            document.getElementById("short-content").style.display = "none";
            document.getElementById("ellipsis").style.display = "none";
            document.getElementById("full-content").style.display = "inline";
            showMoreButton.style.display = "none";
        });
    }


</script>

{% endblock %}
