{% extends "navbar.html" %}
{% load static %}

{% block content %}

<form method = "get" enctype="multipart/form-data">
    {{form.as_p}}
    <button type="submit">Поиск</button>

</form>

<div class="main-container">

    <div class="posts-wrapper">

        {% for post in posts %}
        <div class="post-card text-white bg-dark shadow-lg rounded">
            <a href="/posts/{{ post.id }}/">

            {% if post.image %}
                <img src="{{ post.image.url }}" class="post-img rounded" alt="{{ post.title }}">
            {% else %}
                <img src="{% static 'images (1).png' %}" class="post-img rounded" alt="{{ post.title }}">
            {% endif %}

            
            </a>
            <div class="rating">⭐ {{ post.rate }}</div>


            <div class="post-body">
                <h5 class="post-title fw-bold">{{ post.title }}</h5>
            </div>


            <div class="tags-container">
                <input type="checkbox" id="toggle-tags-{{ post.id }}" class="tags-checkbox">
                <label for="toggle-tags-{{ post.id }}" class="badge bg-secondary main-tag">
                    {% if post.tag.all %}
                        {{ post.tag.all.0.name }}
                    {% endif %}
                </label>


                <div class="extra-tags">
                    {% for tag in post.tag.all %}
                        {% if not forloop.first %}
                            <span class="badge bg-secondary">{{ tag.name }}</span>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            <ul class="list-group list-group-flush">            
                <li class="list-group-item bg-dark text-white">{{ post.category }}</li>
            </ul>

        </div>
        {% endfor %}

    </div>

</div>

<!-- перелистование на след страницу  -->
<div class="pagination-container">
    {% for i in max_pages %}
        <a href="/posts/?page={{ i }}" class="pagination-link">
            {{ i }}
        </a>
    {% endfor %}
</div>



<style>
    .pagination-container {
        text-align: center;
        padding: 20px;
        margin-top: 20px;
    }
    
    .pagination-link {
        display: inline-block;
        margin: 0 10px;
        padding: 12px 20px;
        background-color: #866d34; 
        color: white;
        text-decoration: none;
        font-size: 16px;
        border-radius: 30px; 
        transition: all 0.3s ease; 
    }
    
    .pagination-link:hover {
        background-color: #aca82d;
        transform: translateY(-3px); 
    }
    
    .pagination-link.active {
        background-color: #ffee00;
    }
    

    .pagination-link:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(125, 152, 43, 0.549); 
    }
    



.rating {
    position: absolute;
    top: 0px;
    right: -1px;
    background-color: rgba(0, 0, 0, 0.637);
    color: rgb(255, 247, 0);
    font-weight: bold;
    padding: 1px 3px;
    border-radius: 30px 0 0 30px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 35px;
}

.rating::before {
    content: "★";
    color: rgb(255, 247, 0);
    font-size: 1px;
}

.main-container {
    display: flex;
    justify-content: flex-start;  /* передвинуть контейнер влево */
    align-items: flex-start;
    margin-top: 60px;
    padding-left: 70px;  /* отступ слева */
}

.posts-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(173px, 2fr)); /* уменьшает минимальный размер постов */
    gap: 10px;
    max-width: 60%;
    padding: 10px;  /* уменьшает отступы внутри */
    border-radius: 6px;
    box-shadow: 0px 0px 29px rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.905); /* ппрозрачный фон */
}

.post-card {
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #333;
    transition: transform 0.3s ease;
    padding: 0;
    position: relative;
}

.post-img:hover {
    transform: scale(1.05);
}

.post-img {
    width: 100%;
    max-height: 61%;
    height: auto;
    object-fit: cover;
}

.rating {
    margin: 2px 0;
}

.post-title {
    font-size: 0.77rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(45deg, #ffffff, #ffffff);
    background-clip: text;
    color: transparent;
    cursor: pointer;
    transition: transform 0.9s ease;
    text-transform: uppercase;
}


.tags-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-top: auto;
}

.tags-checkbox {
    display: none;
}

.main-tag {
    cursor: pointer;
}

.extra-tags {
    display: none;
    max-height: 100px;
    overflow-y: auto;
    padding: 5px;
    background-color: #222;
    border-radius: 5px;
    transition: max-height 0.3s ease-out;
}

.tags-checkbox:checked ~ .extra-tags {
    display: block;
    max-height: 100px;
}

.extra-tags::-webkit-scrollbar {
    display: none;
}

.badge {
    margin: 7px;
    font-size: 0.9rem;
}
</style>

{% endblock %}



