{% extends "navbar.html" %}

{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="card text-white bg-dark shadow-lg p-4 rounded position-relative">
        <div class="row g-10">
            
            <div class="col-md-4 d-flex align-items-center">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top mb-4" alt="Post Image" 
                     style="max-height: 100%; object-fit: cover; border-radius: 10px; box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7); max-width: 100%; object-fit: cover; border-radius: 30px;">
                {% else %}
                <img src="{% static 'images (1).png' %}" class="card-img-top mb-4" alt="" 
                     style="max-height: 100%; object-fit: cover; border-radius: 10px; box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7); max-width: 100%; object-fit: cover; border-radius: 30px;">
                {% endif %}
            </div>
            
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title fw-bold fs-1 border-bottom pb-5">{{ post.title }}</h1>
                    <h4 class="card-text text-light fs-4 border-bottom pb-3">Описание: {{ post.content }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-dark text-white fs-5">Категория: {{ post.category }}</li> 
                    <li class="list-group-item bg-dark text-white fs-5">Teg: {{ post.teg }}</li>                     

                </ul>
                
                <!-- Блок для дат, выравниваем по правому краю -->
                <div class="position-absolute bottom-0 end-0 p-3 text-white fs-5">
                    <p>Дата публикации: {{ post.created_at }}</p>
                    <p>Дата обновления: {{ post.updated_at }}</p>
                </div>
            </div>
        </div>
        
        <div class="position-absolute top-0 end-0 p-3 text-white rounded shadow-lg fs-4">
            Оценка: 
            {% if post.rate == 1 %}★☆☆☆☆ 
            {% elif post.rate == 0 %}☆☆☆☆☆
            {% elif post.rate == 2 %}★★☆☆☆
            {% elif post.rate == 3 %}★★★☆☆
            {% elif post.rate == 4 %}★★★★☆
            {% else %}★★★★★
            {% endif %}
        </div>
    </div>
</div>

<style> 
    .card {
        max-width: 1500px;
        margin: auto;
        position: relative;
    }
    .card-title {
        text-align: left;
    }
</style> 

{% endblock %}
